attrs==25.3.0
decorator==5.2.1
iniconfig==2.1.0
Jinja2==3.1.6
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
MarkupSafe==3.0.2
mypy==1.16.1
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
pluggy==1.6.0
Pygments==2.19.2
pytest==8.4.1
pytest-mypy-plugins==3.2.0
PyYAML==6.0.2
referencing==0.36.2
regex==2024.11.6
rpds-py==0.26.0
tomlkit==0.13.3
typing_extensions==4.14.1
